<section class="section about-me-section" id="about">
  <div class="container">
    <h2 class="about-section-title">
      About <span class="title-part">Me</span>
    </h2>
    <div class="content">
      <div class="image-container"></div>
      <div class="bio-container">
        <h3 class="title">Bio</h3>
        <p class="descr">
          I'm Lloyd Jefferson, a talented programmer specializing  in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="descr">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the  latest innovations in the field.
        </p>
        <div class="background-img"></div>
      </div>
    </div>
    <div class="education-role-container">
      <div class="education-container">
        <h3 class="title">Education</h3>
        <ul class="info-container">
          <li class="info-items">
            <p class="info">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="info-items">
            <p class="info">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="info-items">
            <p class="info">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
      <div class="role-container">
        <h3 class="title">Role</h3>
        <ul class="info-container">
          <li class="info-items">
            <p class="info">Frontend development</p>
          </li>
          <li class="info-items">
            <p class="info">HeadlessCMS, Wordpress</p>
          </li>
          <li class="info-items">
            <p class="info">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
