<section class="faq">
  <h2>Frequently Asked <span class="text-green">Question</span></h2>
  <ul class="accordion-container">
    <li class="ac is-active">
      <h3 class="ac-header">
          <button type="button" class="ac-title">WHAT PROGRAMMING LANGUAGES ARE MOST OFTEN USED IN YOUR PROJECT?</button>
      </h3>
      <div class="ac-panel">
          <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
      </div>
  </li>

  <li class="ac">
      <h3 class="ac-header">
          <button type="button" class="ac-title">WHAT ARE THE DEADLINES FOR THE PROJECT?</button>
      </h3>
      <div class="ac-panel">
          <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
      </div>
  </li>
  
  <li class="ac">
    <h3 class="ac-header">
        <button type="button" class="ac-title">WHAT PAYMENT METHODS DO YOU ACCEPT?</button>
    </h3>
    <div class="ac-panel">
        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
    </div>
</li>

<li class="ac">
  <h3 class="ac-header">
      <button type="button" class="ac-title">HOW CAN I CONTACT YOU?</button>
  </h3>
  <div class="ac-panel">
      <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
  </div>
</li>

<li class="ac">
  <h3 class="ac-header">
      <button type="button" class="ac-title">DO TOU PROVIDE ADVICE OR SUPPORT?</button>
  </h3>
  <div class="ac-panel">
      <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
  </div>
</li>

<li class="ac">
  <h3 class="ac-header">
      <button type="button" class="ac-title">WHAT DOES THE PROCESS OF DEVELOPING A SOFTWARE PRODUCT LOOK LIKE FROM IDEA TO IMPLEMENTATION?</button>
  </h3>
  <div class="ac-panel">
      <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
  </div>
</li>

</ul>
</section>


  

