<footer class="footer">
  <div class="container footer-con">
    <div class="footer-info">
    <a 
    class="logo-footer"
    href="./index.html">Lloyd<span class="logo-span-footer">Jefferson.</span>
    </a>
    <ul class="contact-list">
      <li><a href="https://www.instagram.com/goitclub/" class="contact-item" target="_blank">Instagram</a></li>
      <li><a href="https://www.facebook.com/goITclub/" class="contact-item" target="_blank">Facebook</a></li>
      <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" class="contact-item" target="_blank">Linkedin</a></li>
      <li><a href="https://anastasiiatarasiuk.github.io/TalentStack/" class="contact-item" target="_blank">GitHub</a></li>
  </ul>
</div>
  <div class="political">
  <p>&copy; Copyright 2024.
<span>Made by LloydJefferson</span></p>
</div>
  </div>
</footer>
