<header class="header">
<div class="container">
  <a 
  class="logo-header"
  href="./index.html">Lloyd<span class="logo-span">Jefferson.</span>
  </a>
  <nav>
      <ul class="menu-list">
          <li><a href="#about" class="menu-item">About me</a></li>
          <li><a href="#projects" class="menu-item">Projects</a></li>
          <li><a href="#contacts" class="menu-item">Contacts</a></li>
      </ul>
  </nav>

  <button class="menu-btn">
    <svg 
    class="icon-menu" 
     width="32" 
     height="32" 
     viewBox="0 0 32 32">
      <use href="./img/icons.svg#icon-menu"></use>
    </svg>
  </button>

</div>
</header>


<div class="mobile-container visually-hidden">
  <button class="btn-close" type="button">
    <svg class="icon-menu-close"
    width="32"
    height="32">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="nav-container">
    <ul class="menu-list-modal">
        <li><a href="#about" class="menu-item">About me</a></li>
        <li><a href="#projects" class="menu-item">Projects</a></li>
        <li><a href="#contacts" class="menu-item">Contacts</a></li>
    </ul>
  </nav>

</div>

