<section class="section hero-section">
  <div class="container">
    <div class="background-box">
      <div class="background-box-img"></div>
      <div class="background-box-img-second"></div>
    </div>

    <h1 class="hero-title">
      Hello, I am
      <div class="avatar-photo">
        <img
          src="../img/hero/account-img1x.png"
          srcset="../img/hero/account-img2x.png 2x"
          alt="photo of Lloyd Jefferson"
          width="108"
          height="108"
        />
      </div>
      <span class="text-green">Fullstack developer</span>
    </h1>

    <div class="link-descr-box">
      <!-- Тут має бути якірне посилання на секцію "Work together" -->
      <div class="order-link-box">
        <div class="arrow"></div>
        <a href="/" class="order-project">
          Order the project
          <div class="green-box"></div>
        </a>
      </div>

      <p class="hero-descr">
        I work with people all over the world to create
        <span class="text-green">impressive</span> and
        <span class="text-green">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>

    <div class="social-list-box">
      <ul class="social-list">
        <li class="social-list-item">
          <a href="https://www.instagram.com/goitclub/  " target="_blank"
            >Instagram</a
          >
        </li>
        <li class="social-list-item">
          <a href="https://www.facebook.com/goITclub/  " target="_blank"
            >Facebook</a
          >
        </li>
        <li class="social-list-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="social-list-item">
          <a
            href="https://github.com/anastasiiatarasiuk/TalentStack"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
