<section class="section">

  <div class="container swiper">
    <h2 class="reviews-title">reviews</h2>
    <ul class="reviews-list swiper-wrapper">
    </ul>
    <div class="block-switch-reviews">
            <button type="button" class="btn-switch-reviews swiper-button-prev" >
              P
<!--      <svg class="arrow-right-icon" width="24" height="24">-->
<!--        <use href="">-->
<!--        </use>-->
<!--      </svg>-->
            </button>
            <button type="button" class="btn-switch-reviews swiper-button-next">
              N
<!--      <svg class="arrow-right-icon" width="24" height="24">-->
<!--        <use href="">-->
<!--        </use>-->
<!--      </svg>-->
            </button>
<!--      <div class="swiper-button-next"></div>-->
<!--      <div class="swiper-button-prev"></div>-->
    </div>
  </div>
</section>
