<section class="section">

  <div class="container reviews">
    <h2 class="reviews-title">reviews</h2>
    <ul class="reviews-list">
      <li>
        <p>
          Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects
          were completed on time and the result exceeded my expectations
        </p>
        <div>
          <img src="" alt="photo">
          <p>
            Natalia Shevchenko
          </p>
        </div>
      </li>
      <li>
        <p>
          Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects
          were completed on time and the result exceeded my expectations
        </p>
        <div>
          <img src="" alt="photo author">
          <p>
            Natalia Shevchenko
          </p>
        </div>
      </li>

    </ul>
    <button type="button" class="btn-switch-reviews btn-previous-reviews" disabled>
      <svg class="arrow-right-icon" width="24" height="24">
        <use href="">
        </use>
      </svg>
    </button>
    <button type="button" class="btn-switch-reviews btn-next-reviews">
      <svg class="arrow-right-icon" width="24" height="24">
        <use href="">
        </use>
      </svg>
    </button>
  </div>
</section>
