<section id="reviews" class="section">

  <div class="container swiper">
    <h2 class="reviews-title">reviews</h2>
    <ul class="reviews-list swiper-wrapper">
    </ul>
    <div class="reviews-not-found hidden">
      <p>Not found</p>
    </div>
    <div class="block-switch-reviews">
      <button type="button" class="btn-switch-reviews swiper-button-prev">
      </button>
      <button type="button" class="btn-switch-reviews swiper-button-next">
      </button>
    </div>
  </div>
</section>
