<section class="section tech-section" >
    <h2 class="visually-hidden">Tech skills</h2>
    <div class="skills first-line">
      <ul class="first-skills-list">
        <li class="skills-item green-mark">HTML/CSS</li>
        <li class="skills-item green-mark">JavaScript</li>
        <li class="skills-item green-mark">React</li>
        <li class="skills-item green-mark">Node.js</li>
        <li class="skills-item green-mark">React Native</li>
        <li class="skills-item green-mark">Typescript</li>
        <li class="skills-item green-mark">HTML/CSS</li>
        <li class="skills-item green-mark">JavaScript</li>
        <li class="skills-item green-mark">React</li>
        <li class="skills-item green-mark">Node.js</li>
        <li class="skills-item green-mark">React Native</li>
        <li class="skills-item green-mark">Typescript</li>

      </ul>
    </div>
    <div class="skills second-line">
      <ul class="second-skills-list">
        <li class="skills-item black-mark">HTML/CSS</li>
        <li class="skills-item black-mark">JavaScript</li>
        <li class="skills-item black-mark">React</li>
        <li class="skills-item black-mark">Node.js</li>
        <li class="skills-item black-mark">React Native</li>
        <li class="skills-item black-mark">Typescript</li>
        <li class="skills-item black-mark">HTML/CSS</li>
        <li class="skills-item black-mark">JavaScript</li>
        <li class="skills-item black-mark">React</li>
        <li class="skills-item black-mark">Node.js</li>
        <li class="skills-item black-mark">React Native</li>
        <li class="skills-item black-mark">Typescript</li>
      </ul>
    </div>
  </div>
</section>
