<section class="section" id="contacts">
  <div class="container container-together">
    <div class="contacts-together">
      <h2 class="title-together">
        LET'S <span class="title-together-span">Work together</span>
      </h2>
      <p class="text-together">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="contact-list-together">
        <li class="contact-list-item-together">
          <svg class="contacts-icon" width="24px" height="24px">
            <use href="../img/icons.svg#icon-phone"></use>
          </svg>
          <a class="link-contacts" href="tel:+380904567890"
            >+38 090 456 78 90</a
          >
        </li>
        <li class="contact-list-item-together">
          <svg class="contacts-icon" width="24px" height="24px">
            <use href="../img/icons.svg#icon-email"></use>
          </svg>
          <a class="link-contacts" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="contact-list-item-together">
          <svg class="contacts-icon" width="24px" height="24px">
            <use href="../img/icons.svg#icon-location"></use>
          </svg>
          <a
            class="link-contacts"
            href="https://www.google.com/maps?q=40.7128,-74.0060"
            >USA, New York
          </a>
        </li>
      </ul>
    </div>
    <form novalidate class="send-form">
      <label class="label-form">
        <div class="input-container">
          <input
            class="input-form"
            type="email"
            name="email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="Your email*"
          />
          <svg class="checkmark" width="16px" height="16px">
            <use href="../img/icons.svg#icon-checkmark"></use>
          </svg>
        </div>
        <p class="value-email">Invalid email, try again</p>
      </label>
      <label class="label-form">
        <textarea
          class="message-form"
          name="message"
          placeholder="Message"
        ></textarea>
      </label>
      <button class="button-send-together" type="submit">SEND MESSAGE</button>
    </form>
  </div>
</section>
