.header {
    padding: 20px 0;
    position: relative;
    }
    
    .container-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .logo-header {
      font-family: Impact;
      font-size: 24px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    
    .logo-span {
      color: var(--accent);
    }
    
    .menu-list {
    display: none;
    }
    
    .menu-item {
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-item:hover,
    .menu-item:focus {
      color: var(--accent);
    }
    
    .menu-btn {
      display: flex;
      border: none;
      padding: 0;
      background-color: transparent;
      fill: #292929;
    }

    .btn-close {
      display: none;
      border: none;
      padding: 0;
      background-color: transparent;
      stroke: #292929;
    }


    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }


/* modal menu */

      .mobile-container {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* top: 64px; */
        right: 0;
        width: 100%;
        height: calc(100% - 64px); 
        z-index: 3;
        background-color: #f0f0f0;
      padding: 16px 20px;
     }

     .nav-container {
      z-index: 100;
     }

  

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    height: 720px;
    z-index: 50;
  }

  .background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
     url(../img/header/Group\ 68-1x.png), 
    url(../img/header/Group\ 64-1x\ copy.png);
    background-size: 352px 264px, 170px 130px;
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom right;
    filter: blur(3px);
    z-index: 1;
  }


  @media screen and (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
      .background::before {
        background-image: 
        url(../img/header/Group\ 68-1x.png), 
        url(../img/header/Group\ 64-2x\ copy.png);
      }
   } 


      .menu-list-modal {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-align: center;
        
        }

        .menu-item-nav{
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          cursor: pointer;
        }

        .menu-item-nav:hover,
        .menu-item-nav:focus {
      color: var(--accent);
    }
    /* add styles */


         .show {
          display: flex;
         
        }

        .disabled {
          display: none;
        }

        .no-scroll {
          overflow: hidden;
          width: 100%;
          height: 100%;
        }

/* ============================== */

.toggle-switch {
  display: none;

}

/*  */

.toggle-switch-mob {
  position: relative;
  width: 48px;
  height: 24px;
  margin: 40px auto 0 auto;
  display: flex;
  z-index: 10;

}

.switch-checkbox-mob {
  display: none;
}

.switch-label-mob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-label-mob::after {
content: "";
position: absolute;
top: 2px;
left: 2px;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: var(--accent);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.switch-checkbox-mob:checked + .switch-label-mob {
background-color: #2A2D32;
}

.switch-checkbox-mob:checked + .switch-label-mob::after {
transform: translateX(24px);

}


/* =============================== */

  @media screen and (min-width: 768px) {

    .header {
      padding: 36px 0;
    }


   .mobile-container {
    display: none;
   }

   .backdrob {
    display: none;
   }

   .btn-close {
    display: none;
   }

   .no-scroll {
    overflow: scroll;
    
  }

  .logo-header {
            font-size: 32px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 1.5px;
            text-transform: uppercase;
  }
          
.navigation {
  display: flex;
}

    .menu-list {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.5px;
        display: flex;
        align-items: flex-start;
        gap: 40px;
        }

        .menu-btn {
            display: none;
          }
        

          /* switch */
        .toggle-switch {
          position: relative;
          width: 48px;
          height: 24px;
          margin-right: 40px;
          display: flex;
        
      }
      
      .switch-checkbox {
          display: none;
      }
      
      .switch-label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 34px;
          background-color: #ccc;
          cursor: pointer;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .switch-label::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--accent);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    .switch-checkbox:checked + .switch-label {
        background-color: #2A2D32;
    }
    
    .switch-checkbox:checked + .switch-label::after {
        transform: translateX(24px);
       
    }

  }
