.projects-container {
  display: flex;
  flex-direction: column;
}

.projects-item {
  display: flex;
  flex-direction: column;
}

.projects-title span {
  color: var(--accent);
}

.projects-title {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

  @media screen and (min-width: 768px) {
    .projects-title {
      margin-bottom: 60px;
  }}

  @media screen and (min-width: 1280px) {
    .projects-title {
      font-size: 108px;
      margin-bottom: 80px;
  }}


.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

  @media screen and (min-width: 768px) {
    .projects-list {
      gap: 60px;
  }}

  @media screen and (min-width: 1280px) {
    .projects-list {
      gap: 80px;
  }}

.projects-item {
  max-width: 1008px;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s  cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.5s  cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-item.show {
    opacity: 1;
    transform: translateY(0);
  }

.projects-item-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 12px;
}

.projects-item-skills {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

  @media screen and (min-width: 768px) {
    .projects-item-skills {
      margin-bottom: 20px;
  }}

.projects-item-bottom {
  display: flex;
  flex-direction: column;
}

  @media screen and (min-width: 768px) {
    .projects-item-bottom {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }}


.projects-item-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

  @media screen and (min-width: 768px) {
    .projects-item-title {
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    margin-bottom: 0;
  }
}

.projects-item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--light-grey);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  margin-left: auto;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-btn:hover,
.projects-item-btn:focus {
    background-color: #bbb;
  }

.projects-item-btn-icon {
  stroke: var(--accent);
  max-width: 24px;
  max-height: 24px;
}

.projects-load-btn {
  position: relative;
  background-color: transparent;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-load-btn:hover,
.projects-load-btn:focus {
    color: var(--accent);
  }

  .projects-load-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
  }

  .projects-load-btn.load::after {
    animation: expand-width 1s infinite;
  }

@media screen and (min-width: 768px) {
  .projects-load-btn {
    margin-top: 60px;
}}

@media screen and (min-width: 1280px) {
  .projects-load-btn {
    margin-top: 80px;
}}


@keyframes expand-width {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}