



@media screen and (min-width: 360px) {

  /* color variables */
  --inactive-ctrl-color: #CCCCCC;
  --active-ctrl-color: #292929;
  --section-title-color: #292929;


  .reviews-title {
    color: var(--section-title-color);
    font-family: Impact, serif;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .reviews-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .reviews-item {
    width: 320px;
    padding: 32px;
  }

  .btn-switch-reviews{
    color: var(--active-ctrl-color);
    border-radius: 8px;
    border: 1px solid rgba(41, 41, 41, 0.30);
    width: 40px;
    height: 40px;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }

  .btn-switch-reviews[disabled]{
    color: var(--inactive-ctrl-color);
  }
}

/* Tablet media queries */
@media screen and (min-width: 768px) {

}

/* Desctop media queries*/
@media screen and (min-width: 1280px) {

}