@media screen and (min-width: 360px) {

  /*!* color variables *!*/
  /*--inactive-ctrl-color: #CCCCCC;*/
  /*--active-ctrl-color: #292929;*/
  /*--section-title-color: #292929;*/
  .reviews-title {
    font-family: Impact, serif;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }

  .reviews-list {
    margin-top: 40px;
    display: flex;
    /*justify-content: center;*/
    /*align-items: stretch;*/
    /*align-items: flex-start;*/
    /*gap: 32px;*/
  }

  .reviews-item {
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    background: var(--light-grey);
    outline: none;
  }

  .block-author-review {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    align-items: center
  }

  .author-photo-review {
    border-radius: 24px;
    background: #797979;
    width: 40px;
    height: 40px;
  }

  .author-name-review {
    font-family: Poppins, serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  .block-switch-reviews {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }

  .btn-switch-reviews {
    border-radius: 8px;
    border: 1px solid rgba(41, 41, 41, 0.30);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev:disabled, .swiper-button-next:disabled {
    opacity: 0.1;
    cursor: not-allowed;
  }

  .swiper-button-prev .arrow-icon, .swiper-button-next .arrow-icon {
    stroke: #292929;
    fill: transparent;
  }

  .swiper-button-prev:hover, .swiper-button-next:hover {
    background-color: var(--light-grey);
  }

  .reviews-not-found {
    font-family: Poppins, serif;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .hidden {
    display: none;
  }
}

/* Tablet media queries */
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 108px;
    line-height: 1.14;
  }

  .reviews-list {
    margin-top: 60px;
  }
}

/* Desctop media queries*/
@media screen and (min-width: 1280px) {
  .reviews-list {
    margin-top: 80px;
  }
}